

<h2>Edit</h2>
<form action="" method="POST">
    <div class='form-row'><label>Name:</label> <input type="text" name="name" value="{{show.name}}"></div>
    <div class='form-row'><label>Year:</label> <input type="text" name="year" value="{{show.year}}"></div>

    <div>Reviews:
    {{!-- TODO: Add a way to delete reviews --}}
    <table>
            <tr>
                <th>Review</th>
                <th>Rating</th>
        
            </tr>
            {{#each reviews}}
            <tr>
                <td>{{comment}}</td>
                <td>{{rating}}</td>
                <td> - {{username}}</td>
            </tr>
            {{/each}}
        </table>
    </div>
    <div>
        <a class="cancel" href="/shows/edit">Cancel</a>
        <span class='form-row'><input class="add" type="submit" value="Confirm"></span>
    </div>
</form>