Shows:
<br><br>
<table>
    <tr>
        <th>Title</th>
        <th>Release Date</th>

    </tr>
{{#each shows}}
<tr>
    <td><a href="/shows/details/{{this.id}}">{{this.name}}</a></td>
    <td>{{this.year}}</td>
    <td class="edit"> 
        <a href="/shows/edit-show/{{this.id}}">Edit</a>
    </td>
    <td class="remove"> 
        <a href="/shows/delete/{{this.id}}">Delete</a>
    </td>
</tr>
{{/each}}