<h2>Search Show</h2>
<form action="" method="POST">
<div class='form-row'><label>Name:</label> <input type="text" name="name"></div>
<div class='form-row'><input type="submit" value="Search Show"></div>
</form>
<br><br>
{{option}}
<br><br>
<table>
  <tr>
      <th>Title</th>
      <th>Release-Date</th>
      {{!-- <th>Reviews</th> --}}
  </tr>
  {{#each shows}}
  <tr>
    <td><a href="/shows/details/{{this.id}}">{{this.name}}</a></td>
    <td>{{this.year}}</td>
    <td class="add"><a href="/shows/add-show/{{this.id}}">Add</a></td>
  </tr>
  {{/each}}
</table>
